.quiz {
  /* border: 5px solid gray; */
  padding: 10px;
  margin: 130px;
  background-color: rgb(242, 247, 247);
  box-shadow: 5px 5px 15px 5px rgb(224, 221, 221);
}

h1 {
  text-align: center;
}

hr {
  margin-bottom: var(--margin-xxl);
}

.quiz__start {
  text-align: center;
}

.quiz__start--hide,
.score--hide,
.question-card__next--hide,
.total-score-hide {
  display: none;
}

.loading {
  text-align: center;
  margin-top: 90px;
  height: 200px;
}

.quiz__header {
  padding: var(--padding-xl);
}

.quiz__header--hide {
  display: none;
}

.start,
.question-card__next {
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-l);
  padding: var(--padding-xl);
  font-size: var(--font-size-m);
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(97, 176, 240);
  cursor: pointer;
}

.test,
.score {
  text-align: end;
}

.total-score {
  text-align: center;
  margin-top: var(--margin-page);
  height: 50px;
}
