.login {
  margin: 0 auto;
  border: 3px solid gray;
  max-width: 300px;
  background-color: rgb(232, 248, 248);
  box-shadow: 5px 5px 15px 5px rgb(224, 221, 221);
  padding: 50px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
}

.login__username,
.select-category,
.select-difficulty {
  max-width: 500px;
  width: 100%;
  padding: var(--padding-xl);
  outline: none;
  border-radius: 5px;
  margin-bottom: var(--margin-xxl);
  border: 1px solid;
}

.select-category,
.select-difficulty {
  background-color: var(--color-white);
}

.button-login {
  margin-left: 30%;
  padding: var(--padding-l);
  font-size: var(--font-m);
  background-color: rgb(11, 129, 240);
  width: 120px;
}
