.card {
  margin-top: var(--margin-xl);
}

.card__question {
  padding: var(--padding-xxl);
  padding-left: var(--padding-l);
  line-height: 2.5rem;
  margin-bottom: var(--margin-xxl);
  font-size: var(--font-m);
}

.card__answers {
  margin-top: var(--margin-page);
  margin-bottom: var(--margin-page);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 45px;
  grid-row-gap: 50px;
}

.answer,
.answer--correct,
.answer--incorrect {
  padding: var(--padding-xl);
  font-size: var(--font-l);
  cursor: pointer;
  box-shadow: 3px 3px 3px 5px rgb(233, 227, 227);
}

.answer--correct {
  background-color: green;
}

.answer--incorrect {
  background-color: red;
}
